body{
    background:#feecc8;
    color:#550000;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#ffc308;
    color:#550000;
}

.jarak{
    padding:0 1pc;
}




